<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Log in - Architextures</title>
    <meta property="og:title" content="Log in - Architextures">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#eaece8">
    <link rel="icon" type="image/png" sizes="128x128" href="/img/icon128.png">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap"
        as="style">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Space+Mono&amp;display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&amp;display=swap" rel="stylesheet">

    <link href="/css/slider.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <script>
        window.artx = { cdn: `http://localhost:8081` };
    </script>

    <script src="/vendor/flickity.pkgd.min.js"></script>
    {{--
    <script src="/js/textures.min.js"></script> --}}

    <script src="/js/slider2.js"></script>
</head>

<body cz-shortcut-listen="true">
    <div id="page-body">
        <div class="lr-page">
            <div class="lr-left column-container">

                <div data-slides="leftright-page" class="fh">
                    <div class="slider-container fw fh left flickity-enabled" tabindex="0">
                        <div class="flickity-viewport" style="touch-action: pan-y;">
                            <div class="flickity-slider" style="left: 0px; transform: translateX(-100%);">
                                <div data-slider-cell="" class="slider-cell fh"
                                    style="background: rgb(71, 76, 60); position: absolute; left: 0%;"
                                    aria-hidden="true"><img
                                        src="http://localhost:8081/slider/471bbf82-5d70-4ce2-8520-52b3a1c18b8a.jpg"
                                        srcset="http://localhost:8081/slider/471bbf82-5d70-4ce2-8520-52b3a1c18b8a.jpg"
                                        alt="Southwold Beach House, Tom Groves Studio for Architecture For London">
                                    <div class="slider-caption" style="background-color: #474c3c;">
                                        <div class="slider-cell-text inlab sline">Southwold Beach House, Tom Groves
                                            Studio for Architecture For London</div>
                                        <div data-dots-container=""></div>
                                    </div>
                                </div>
                                <div data-slider-cell="" class="slider-cell fh is-selected"
                                    style="background: rgb(127, 80, 61); position: absolute; left: 100%;"><img
                                        src="http://localhost:8081/slider/d96f9f8f-0f53-41d9-9d82-89e18d77890b.jpg"
                                        srcset="http://localhost:8081/slider/d96f9f8f-0f53-41d9-9d82-89e18d77890b.jpg"
                                        alt="Coombe Street, Axson Office for New Works">
                                    <div class="slider-caption" style="background-color: #7f503d;">
                                        <div class="slider-cell-text inlab sline">Coombe Street, Axson Office for New
                                            Works</div>
                                        <div data-dots-container="">
                                            <ol class="flickity-page-dots">
                                                <li class="dot" aria-label="Page dot 1"></li>
                                                <li class="dot is-selected" aria-label="Page dot 2" aria-current="step">
                                                </li>
                                                <li class="dot" aria-label="Page dot 3"></li>
                                                <li class="dot" aria-label="Page dot 4"></li>
                                                <li class="dot" aria-label="Page dot 5"></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div data-slider-cell="" class="slider-cell fh"
                                    style="background: rgb(163, 165, 148); position: absolute; left: 200%;"
                                    aria-hidden="true"><img
                                        src="http://localhost:8081/slider/f017d3b3-55dc-450f-97c1-8793ec1d66b1.jpg"
                                        srcset="http://localhost:8081/slider/f017d3b3-55dc-450f-97c1-8793ec1d66b1.jpg"
                                        alt="Passivhaus Cohousing, Architecture For London">
                                    <div class="slider-caption" style="background-color: #a3a594;">
                                        <div class="slider-cell-text inlab sline">Passivhaus Cohousing, Architecture For
                                            London</div>
                                        <div data-dots-container=""></div>
                                    </div>
                                </div>
                                <div data-slider-cell="" class="slider-cell fh"
                                    style="background: rgb(154, 136, 122); position: absolute; left: 300%;"
                                    aria-hidden="true"><img
                                        src="http://localhost:8081/slider/e17e9fed-6ad4-4392-8a3b-9cb6b6dbd7bb.jpg"
                                        srcset="http://localhost:8081/slider/e17e9fed-6ad4-4392-8a3b-9cb6b6dbd7bb.jpg"
                                        alt="Stockbridge Townhouse, Ossian Architects">
                                    <div class="slider-caption" style="background-color: #9a887a;">
                                        <div class="slider-cell-text inlab sline">Stockbridge Townhouse, Ossian
                                            Architects</div>
                                        <div data-dots-container=""></div>
                                    </div>
                                </div>
                                <div data-slider-cell="" class="slider-cell fh"
                                    style="background: rgb(156, 154, 145); position: absolute; left: 400%;"
                                    aria-hidden="true"><img
                                        src="http://localhost:8081/slider/de5510df-4ad6-4314-b3b2-81f6340eda76.jpg"
                                        srcset="http://localhost:8081/slider/de5510df-4ad6-4314-b3b2-81f6340eda76.jpg"
                                        alt="Hamilton Mausoleum, Titas Grikevičius &amp;amp; Ross Cameron">
                                    <div class="slider-caption" style="background-color: #9c9a91;">
                                        <div class="slider-cell-text inlab sline">Hamilton Mausoleum, Titas Grikevičius
                                            &amp; Ross Cameron</div>
                                        <div data-dots-container=""></div>
                                    </div>
                                </div>
                            </div>
                        </div><button class="flickity-button flickity-prev-next-button previous" type="button"
                            aria-label="Previous"><svg class="flickity-button-icon" viewBox="0 0 100 100">
                                <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
                            </svg></button><button class="flickity-button flickity-prev-next-button next" type="button"
                            aria-label="Next"><svg class="flickity-button-icon" viewBox="0 0 100 100">
                                <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"
                                    transform="translate(100, 100) rotate(180) "></path>
                            </svg></button>
                    </div>
                </div>
            </div>
            <div class="lr-right sect-container column-container gallery">
                <div class="top">
                    <div class="cc">
                        <a href="/">
                            <img id="logo" alt="ARTX, the Architextures logo"
                                src="http://localhost:8081/img/artx-logo.svg">
                        </a>
                    </div>
                    <div class="cc s-gap">
                        <a href="/login?redirect=%2Fpro" class="fbutt">Login</a>

                        <img id="show-main-menu" data-show="#main-menu" data-group="menus" class="menu-icon icon"
                            src="http://localhost:8081/img/kebab.png" draggable="false">
                        <div id="main-menu" class="nav-menu" style="display:none;right:5px;top:5px;">
                            <div class="eh">
                                <img class="menu-icon" data-close="#main-menu" src="http://localhost:8081/icons/x.svg"
                                    draggable="false">
                            </div>
                            <div class="nav-menu-items">
                                <a class="nav-menu-item" href="/create">
                                    <div>Create</div>
                                </a>
                                <a class="nav-menu-item" href="/textures">
                                    <div>Seamless Textures</div>
                                </a>
                                <a class="nav-menu-item" href="/hatches">
                                    <div>CAD &amp; Revit Hatches</div>
                                </a>
                                <a class="nav-menu-item" href="/stories">
                                    <div>Stories</div>
                                </a>
                                <a class="nav-menu-item" href="/manufacturers">
                                    <div>For Manufacturers</div>
                                </a>
                                <a class="nav-menu-item" href="/about">
                                    <div>About &amp; Contact</div>
                                </a>
                                <a class="nav-menu-item menu-link" href="/login?redirect=%2Fpro">
                                    <div class="fr s-gap">
                                        <img style="height: 20px;" class="icon"
                                            src="http://localhost:8081/icons/user2.svg" draggable="false">
                                        Login
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="user-menu" class="nav-menu" style="display:none;right:35px;top:5px;">
                            <div class="eh">
                                <img class="menu-icon" data-close="#user-menu" src="http://localhost:8081/icons/x.svg"
                                    draggable="false">
                            </div>
                            <div class="nav-menu-items">
                                <a class="nav-menu-item" href="/admin/saved">
                                    <div>Saved</div>
                                </a>
                                <a class="nav-menu-item" href="/admin/uploads">
                                    <div>Uploads</div>
                                </a>
                                <a class="nav-menu-item" href="/admin/downloads">
                                    <div>Downloads</div>
                                </a>
                                <a class="nav-menu-item" href="/admin/account">
                                    <div>Manage Account</div>
                                </a>
                                <a class="nav-menu-item" href="/logout?redirect=%2Flogin%3Fredirect%3D%252Fpro">
                                    <div>Logout</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    document.addEventListener("click", function (event) {
                        const mainMenu = document.getElementById('main-menu')
                        if (
                            !mainMenu.contains(event.target) &&
                            window.getComputedStyle(mainMenu).getPropertyValue('display') !== 'none' &&
                            !document.getElementById('show-main-menu').contains(event.target)
                        ) {
                            mainMenu.style.display = "none";
                        }
                        // close user menu
                        const userMenu = document.getElementById("user-menu")
                        if (
                            !userMenu.contains(event.target) &&
                            window.getComputedStyle(userMenu).getPropertyValue('display') !== 'none' &&
                            !document.getElementById('show-user-menu').contains(event.target)
                        ) {
                            userMenu.style.display = "none";
                        }
                    })
                </script>
                <div class="lr-content">
                    <div class="gallery-content">
                        <div class="lr-header row column vstin">
                            <h1 class="lr-title">Log in</h1>
                        </div>
                        <div class="lr-section column">
                            <form id="login-form" method="post" class="user-form">
                                <div class="group">
                                    <div class="input-label">Email</div>
                                    <input name="email" type="email" placeholder="alvar@example.com" value=""
                                        required="">
                                    <div class="input-label error-label" data-login-err="email"></div>
                                </div>
                                <div class="group">
                                    <div class="input-label">Password</div>
                                    <input name="password" type="password" placeholder="●●●●●●●●" required="">
                                    <div class="input-label error-label" data-login-err="password"></div>
                                    <input type="text" name="redirect" value="/pro" hidden="">
                                    <div data-login-err="general" class="hide-me black-warning">Email or password is
                                        incorrect</div>
                                </div>
                                <div class="group">
                                    <input type="submit" class="form-button button user-button" value="Log in">
                                </div>
                                <div class="group">
                                    <p>Don't have a account? <a id="register" class="uline" href="/signup">Get one
                                            here</a></p>
                                    <div><a id="resetpass" class="uline" href="/account/resetpass">Reset password</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div id="footer-container" class="footer column-container row">
                    <div class="column">
                        <div class="footer-above row">
                            <div class="footer-text">
                                <p>Architextures (ARTX), is a library of high quality seamless textures for use in
                                    architectural drawings and 3D models. All textures on the site are procedural
                                    meaning the dimensions, patterns, colours and more can be edited using <a
                                        href="/create">Architextures Create</a>, our custom-built web app for creating
                                    seamless textures. All textures can be downloaded free of charge for educational and
                                    personal use. Textures can be used in commercial work by users with a <a
                                        href="/pro">Pro</a> subscription subject to the <a href="/terms">Terms of
                                        Use</a>. By using the Architextures website you agree to the comply with these
                                    <a href="/terms">Terms of Use.</a> Architextures uses cookies for core functions and
                                    analytics. By using the website you agree to the use these cookies. Further details
                                    about how we use cookies can be found <a href="/privacy">here</a>.
                                </p>
                            </div>
                            <div class="footer-links-container row">
                                <nav class="footer-nav">
                                    <div class="inlab">Materials</div>
                                    <ul>
                                        <li><a href="/textures/category/brick">Brick</a></li>
                                        <li><a href="/textures/category/concrete">Concrete</a></li>
                                        <li><a href="/textures/category/metal">Metal</a></li>
                                        <li><a href="/textures/category/stone">Stone</a></li>
                                        <li><a href="/textures/category/wood">Wood</a></li>
                                        <li><a href="/textures/category/terrazzo">Terrazzo</a></li>
                                        <li><a href="/textures/category/fabric">Fabric</a></li>
                                        <li><a href="/textures/category/carpet">Carpet</a></li>
                                        <li><a href="/textures/category/wallpaper">Wallpaper</a></li>
                                    </ul>
                                </nav>
                                <nav class="footer-nav">
                                    <div class="inlab">Content</div>
                                    <ul>
                                        <li><a href="/create">Create</a></li>
                                        <li><a href="/textures">Seamless Textures</a></li>
                                        <li><a href="/textures/type/pbr">PBR Textures</a></li>
                                        <li><a href="/hatches">CAD &amp; Revit Hatches</a></li>
                                        <li><a href="/stories">Stories</a></li>
                                    </ul>
                                </nav>
                                <nav class="footer-nav">
                                    <div class="inlab">Documentation</div>
                                    <ul>
                                        <li><a href="/page/user-guide">User Guide</a></li>
                                        <li><a href="/page/updates">Updates</a></li>
                                        <li><a href="/page/architextures-for-sketchup-guide">SketchUp Extension</a></li>
                                        <li><a href="/page/architextures-for-revit">Revit Add-in</a></li>
                                    </ul>
                                </nav>
                                <nav class="footer-nav">
                                    <div class="inlab">Architextures</div>
                                    <ul>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/about">Contact</a></li>
                                        <li><a href="http://eepurl.com/i1yux-/">Newsletter sign-up</a></li>
                                        <li><a href="/manufacturers">For Manufacturers</a></li>
                                    </ul>
                                </nav>
                                <nav class="footer-nav">
                                    <div class="inlab">Social</div>
                                    <ul>
                                        <li><a href="https://www.instagram.com/_architextures/">Instagram</a></li>
                                        <li><a href="https://www.linkedin.com/company/architexturesorg">LinkedIn</a>
                                        </li>
                                        <li><a
                                                href="https://www.youtube.com/channel/UCQeRssb0C7UhZkCro4J79BQ">YouTube</a>
                                        </li>
                                        <li><a href="https://www.pinterest.co.uk/architextureswebsite">Pinterest</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="below-footer row outline sh cv">
                            <div class="copyright-notice">© Architextures 2024</div>
                            <img id="logo" alt="ARTX, the Architextures logo"
                                src="http://localhost:8081/img/artx-logo.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>