<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8' />
    <title>Create - Architextures</title>
    <meta property="og:title" content="Create - Architextures" />
    <meta property="og:image" content="http://localhost:8081/images/arhitacture.jpg" />
    <meta name="description"
        content="A web app for architects and designers. Find materials &amp; create seamless textures, bump maps and CAD hatches" />
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#eaece8">
    <link rel="icon" type="image/png" sizes="128x128" href="http://localhost:8081/img/icon128.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap">
    <link href="/css/style.css" rel='stylesheet' />
    <link href="/vendor/flickity.min.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/vendor/piexif.js"></script>
    <script src="/js/components/CreateElement.js"></script>
    <script src="/js/handler/BrandRequest.js"></script>
    <script src="/js/textures.min.js"></script>
    <script src="/vendor/flickity.pkgd.min.js"></script>
    <script src="/vendor/panzoom.min.js"></script>
    <script src="/js/handler/RegistrationForm.js"></script>
    <script src="/js/handler/UserPlanData.js"></script>
    <script src="/js/handler/CollectRegistrationData.js"></script>
    <script src="/js/handler/UserRegistration.js"></script>
    <script src="/js/handler/ImageSlides.js"></script>
    <script src="/js/components/AbstractMenuItems.js"></script>
    <script src="/js/components/AbstractContextMenu.js"></script>
    <script src="/js/components/SearchSelect.js"></script>
    <script src="/js/components/RegularSelectMenu.js"></script>
    <script src="/js/components/CategoryMenu.js"></script>
    <script src="/js/components/BrandMenu.js"></script>
    <script src="/js/components/CheckboxSelectMenu.js"></script>
</head>

<body>
    <div id="page-body">
        <div class="lr-page">
            <div class="lr-left column-container ">

                <div data-slides="leftright-page" class="fh"></div>
            </div>
            <div class="lr-right sect-container column-container gallery">
                <div class="top">
                    <div class="cc">
                        <a href="/">
                            <img id="logo" alt="ARTX, the Architextures logo" src="http://localhost:8081/img/artx-logo.svg">
                        </a>
                    </div>
                    <div class="cc s-gap">
                        <a id="pro-button-header" href="/pro" class="fbutt">Get Pro</a>
                        <a href="/login"
                            class="fbutt">Login</a>

                        <img id="show-main-menu" data-show="#main-menu" data-group="menus" class="menu-icon icon"
                            src="http://localhost:8081/img/kebab.png" draggable="false">
                        <div id="main-menu" class="nav-menu" style="display:none;right:5px;top:5px;">
                            <div class="eh">
                                <img class="menu-icon" data-close="#main-menu"
                                    src="https://cdn.architextures.org/icons/x.svg" draggable="false">
                            </div>
                            <div class="nav-menu-items">
                                <a class="nav-menu-item" href="/create">
                                    <div>Create</div>
                                </a>
                                <a class="nav-menu-item" href="/textures">
                                    <div>Seamless Textures</div>
                                </a>
                                <a class="nav-menu-item" href="/hatches">
                                    <div>CAD &amp; Revit Hatches</div>
                                </a>
                                <a class="nav-menu-item" href="/stories">
                                    <div>Stories</div>
                                </a>
                                <a class="nav-menu-item" href="/manufacturers">
                                    <div>For Manufacturers</div>
                                </a>
                                <a class="nav-menu-item" href="/about">
                                    <div>About &amp; Contact</div>
                                </a>
                                <a class="nav-menu-item" href="/pro">
                                    <div>Get a Pro Account</div>
                                </a>
                                <a class="nav-menu-item menu-link"
                                    href="/login">
                                    <div class="fr s-gap">
                                        <img style="height: 20px;" class="icon"
                                            src="https://cdn.architextures.org/icons/user2.svg" draggable="false">
                                        Login
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="user-menu" class="nav-menu" style="display:none;right:35px;top:5px;">
                            <div class="eh">
                                <img class="menu-icon" data-close="#user-menu"
                                    src="https://cdn.architextures.org/icons/x.svg" draggable="false">
                            </div>
                            <div class="nav-menu-items">
                                <a class="nav-menu-item" href="/admin/saved">
                                    <div>Saved</div>
                                </a>
                                <a class="nav-menu-item" href="/admin/uploads">
                                    <div>Uploads</div>
                                </a>
                                <a class="nav-menu-item" href="/admin/downloads">
                                    <div>Downloads</div>
                                </a>
                                <a class="nav-menu-item" href="/admin/account">
                                    <div>Manage Account</div>
                                </a>
                                <a class="nav-menu-item"
                                    href="/logout">
                                    <div>Logout</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <script>

                    /**
                     * Event listener to close the dropdown menus when clicked outside of them
                     */
                    document.addEventListener("click", function (event) {
                        const mainMenu = document.getElementById('main-menu')
                        // close main menu
                        if (
                            !mainMenu.contains(event.target) &&
                            window.getComputedStyle(mainMenu).getPropertyValue('display') !== 'none' &&
                            !document.getElementById('show-main-menu').contains(event.target)
                        ) {
                            mainMenu.style.display = "none";
                        }
                        // close user menu
                        const userMenu = document.getElementById("user-menu")
                        if (
                            !userMenu.contains(event.target) &&
                            window.getComputedStyle(userMenu).getPropertyValue('display') !== 'none' &&
                            !document.getElementById('show-user-menu').contains(event.target)
                        ) {
                            userMenu.style.display = "none";
                        }
                    })
                </script>
                <div class="lr-content">
                    <div class="gallery-content">
                        <div class="lr-header row column vstin">
                            <h1 class="lr-title">Reset Password</h1>
                        </div>
                        <div class="column">
                            <!--  expired link message  -->
                            <div class="hide-me" data-new-pass="expired-link">
                                <h3>The link you followed has expired.</h3>
                                <br>
                                <h3>Request a new one <a class="uline" href="/account/resetpass">here.</a></h3>
                            </div>

                            <!--  success message  -->
                            <div class="hide-me" data-new-pass="success-reset-pass">
                                <h3>Password set successfully</h3>
                                <br>
                                <div>
                                    <a href="/login" class="button">Log in</a>
                                </div>
                            </div>

                            <!--  password reset form  -->
                            <div data-new-pass="new-pass-form">
                                <h3>For {{ email }}</h3>
                                <form id="new-password" class="user-form">
                                    <div class="group">
                                        <div class="input-label">New Password</div>
                                        <input type="email" name="email" value="{{ email }}" hidden>
                                        <input type="password" name="password" placeholder="●●●●●●●●">
                                        <div class="input-label error-label" data-new-pass="password-error"></div>
                                        <div class="input-label error-label" data-new-pass="general-error"></div>
                                    </div>
                                    <div class="group">
                                        <input type="text" name="token" value="{{ code }}" hidden>
                                        <button class="button user-button">Reset password</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <script>
                            if (false) {
                                document.querySelector("[data-new-pass='expired-link']").classList.remove("hide-me");
                                document.querySelector("[data-new-pass='new-pass-form']").classList.add("hide-me");
                            }

                            document.querySelector("#new-password").addEventListener("submit", e => {
                                e.preventDefault();

                                // remove errors
                                document.querySelector("[data-new-pass='password-error']").innerHTML = "";
                                document.querySelector("[data-new-pass='general-error']").innerHTML = "";

                                const data = Object.fromEntries(new FormData(e.target).entries());

                                postJson("/auth/reset-password", data).then(response => {
                                    switch (response.rawResponse.status) {
                                        case 200:
                                            document.querySelector("[data-new-pass='success-reset-pass']").classList.remove("hide-me");
                                            document.querySelector("[data-new-pass='new-pass-form']").classList.add("hide-me");
                                            break;
                                        case 422:
                                            document.querySelector("[data-new-pass='password-error']").innerHTML = response.errors.password[0];
                                            break;
                                        case 400:
                                            document.querySelector("[data-new-pass='expired-link']").classList.remove("hide-me");
                                            document.querySelector("[data-new-pass='password-error']").innerHTML = response.message;
                                            break;
                                        case 500:
                                        default:
                                            document.querySelector("[data-new-pass='general-error']").innerHTML = response.errors;
                                    }
                                })
                            })
                        </script>
                    </div>
                </div>
                <div id="footer-container" class="footer column-container row">
                    <style>
                        #feedback {
                            position: fixed;
                            bottom: -1px;
                            right: 12px;
                            border-radius: 8px 8px 0 0;
                            z-index: 1000;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            display: flex;
                            max-width: 300px;
                            background-color: var(--offblack);
                            color: white;
                            font-size: 11px;
                            border: 1px solid rgba(255, 255, 255, 0.25);
                        }

                        #feedbackText,
                        #feedbackTitle {
                            color: white;
                        }

                        #feedbackText {
                            padding: 6px 8px;
                            padding-right: 0;
                            font-size: 12px;
                        }

                        #feedbackTitle {
                            margin: 2px 5px;
                            margin-right: 2px;
                        }

                        #collapseButton {
                            filter: invert(1);
                            width: 12px;
                            margin: 2px 5px;
                            opacity: 0.6;
                        }

                        .collapsed #collapseButton {
                            margin: 1px 5px;
                            transform: rotate(180deg);
                        }

                        #feedbackImage {
                            height: 100%;
                            max-height: 50px;
                            aspect-ratio: 1;
                        }

                        #feedback a:hover {
                            text-decoration: underline;
                        }
                    </style>
                    <div id="feedback" class="df sh">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdG1VCZbrlOJA1Tt01JUmHdqQ6_KbxihN3lNafL6dRCZ69jDA/viewform"
                            target="_blank" class="none">
                            <div id="feedbackContent" class="cc">
                                <div id="feedbackTitle" style="font-family:var(--font-b);">Take our survey</div>
                                <div id="feedbackText">
                                    <div id="feedback-text-body"><b>⭐️ Take our quick survey ⭐️ – and you could win a
                                            $200 Amazon Gift Voucher just in time for the festive season!</b><br>Share
                                        your insights on how you research, evaluate and select building materials. We
                                        want to hear from you!</div>
                                </div>
                            </div>
                        </a>
                        <img id="collapseButton" class="icon" src="https://cdn.architextures.org/icons/down.svg">
                        <script>
                            const feedback = document.getElementById("feedback");
                            const feedbackText = document.getElementById("feedbackText");
                            const feedbackTitle = document.getElementById("feedbackTitle");
                            const collapseButton = document.getElementById("collapseButton");

                            function setFeedbackVisibility() {
                                const collapsed = getArtxCookie("feedbackCollapsed");
                                feedbackText.style.display = collapsed ? "none" : "";
                                feedbackTitle.style.display = collapsed ? "" : "none";
                                feedback.classList.toggle("collapsed", collapsed);
                            }

                            collapseButton.onclick = function () {
                                const currentState = getArtxCookie("feedbackCollapsed");
                                setArtxCookie("feedbackCollapsed", !currentState);
                                setFeedbackVisibility();
                            }

                            setFeedbackVisibility();
                        </script>
                    </div>
                    <div class="column">
                        <div class="footer-above row">
                            <div class="footer-text">
                                <p>Architextures (ARTX), is a library of high quality seamless textures for use in
                                    architectural drawings and 3D models. All textures on the site are procedural
                                    meaning the dimensions, patterns, colours and more can be edited using <a
                                        href="/create">Architextures Create</a>, our custom-built web app for creating
                                    seamless textures. All textures can be downloaded free of charge for educational and
                                    personal use. Textures can be used in commercial work by users with a <a
                                        href="/pro">Pro</a> subscription subject to the <a href="/terms">Terms of
                                        Use</a>. By using the Architextures website you agree to the comply with these
                                    <a href="/terms">Terms of Use.</a> Architextures uses cookies for core functions and
                                    analytics. By using the website you agree to the use these cookies. Further details
                                    about how we use cookies can be found <a href="/privacy">here</a>.</p>
                            </div>
                            <div class="footer-links-container row">
                                <nav class="footer-nav">
                                    <div class="inlab">Materials</div>
                                    <ul>
                                        <li><a href="/textures/category/brick">Brick</a></li>
                                        <li><a href="/textures/category/concrete">Concrete</a></li>
                                        <li><a href="/textures/category/metal">Metal</a></li>
                                        <li><a href="/textures/category/stone">Stone</a></li>
                                        <li><a href="/textures/category/wood">Wood</a></li>
                                        <li><a href="/textures/category/terrazzo">Terrazzo</a></li>
                                        <li><a href="/textures/category/fabric">Fabric</a></li>
                                        <li><a href="/textures/category/carpet">Carpet</a></li>
                                        <li><a href="/textures/category/wallpaper">Wallpaper</a></li>
                                    </ul>
                                </nav>
                                <nav class="footer-nav">
                                    <div class="inlab">Content</div>
                                    <ul>
                                        <li><a href="/create">Create</a></li>
                                        <li><a href="/textures">Seamless Textures</a></li>
                                        <li><a href="/textures/type/pbr">PBR Textures</a></li>
                                        <li><a href="/hatches">CAD &amp; Revit Hatches</a></li>
                                        <li><a href="/stories">Stories</a></li>
                                    </ul>
                                </nav>
                                <nav class="footer-nav">
                                    <div class="inlab">Documentation</div>
                                    <ul>
                                        <li><a href="/page/user-guide">User Guide</a></li>
                                        <li><a href="/page/updates">Updates</a></li>
                                        <li><a href="/page/architextures-for-sketchup-guide">SketchUp Extension</a></li>
                                        <li><a href="/page/architextures-for-revit">Revit Add-in</a></li>
                                    </ul>
                                </nav>
                                <nav class="footer-nav">
                                    <div class="inlab">Architextures</div>
                                    <ul>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/about">Contact</a></li>
                                        <li><a
                                                href="https://144083254.hs-sites-eu1.com/architextures-newsletter-sign-up">Newsletter
                                                sign-up</a></li>
                                        <li><a href="/pro">Get a Pro Account</a></li>
                                        <li><a href="/manufacturers">For Manufacturers</a></li>
                                    </ul>
                                </nav>
                                <nav class="footer-nav">
                                    <div class="inlab">Social</div>
                                    <ul>
                                        <li><a href="https://www.instagram.com/_architextures/">Instagram</a></li>
                                        <li><a href="https://www.linkedin.com/company/architexturesorg">LinkedIn</a>
                                        </li>
                                        <li><a
                                                href="https://www.youtube.com/channel/UCQeRssb0C7UhZkCro4J79BQ">YouTube</a>
                                        </li>
                                        <li><a href="https://www.pinterest.co.uk/architextureswebsite">Pinterest</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="below-footer row outline sh cv">
                            <div class="copyright-notice">© Architextures 2024</div>
                            <img id="logo" alt="ARTX, the Architextures logo" src="http://localhost:8081/img/artx-logo.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const sliderImages = {
        "slides": [
            {
                src: "/uploads/471bbf82-5d70-4ce2-8520-52b3a1c18b8a.jpg",
                text: "Southwold Beach House, Tom Groves Studio for Architecture For London",
                color: "#474c3c",
            },
            {
                src: "/uploads/d96f9f8f-0f53-41d9-9d82-89e18d77890b.jpg",
                text: "Coombe Street, Axson Office for New Works",
                color: "#7f503d",
            },
            {
                src: "/uploads/f017d3b3-55dc-450f-97c1-8793ec1d66b1.jpg",
                text: "Passivhaus Cohousing, Architecture For London",
                color: "#a3a594",
            },
            {
                src: "/uploads/e17e9fed-6ad4-4392-8a3b-9cb6b6dbd7bb.jpg",
                text: "Stockbridge Townhouse, Ossian Architects",
                color: "#9a887a",
            },
            {
                src: "/uploads/de5510df-4ad6-4314-b3b2-81f6340eda76.jpg",
                text: "Hamilton Mausoleum, Titas Grikevičius &amp; Ross Cameron",
                color: "#9c9a91",
            },
        ]
    };
    const imageSlides = new ImageSlides(sliderImages.slides);
    imageSlides.createSlides();
    document.querySelector("[data-slides='leftright-page']").appendChild(imageSlides.getSlidesElement());
</script>
</body>

</html>